Test for find input solution

In [1]:
import pandas as pd #

# สร้างข้อมูลสำหรับคอลัมน์ต่าง ๆ
data = {
    'id_student': [66113424, 66113322, 66112233],  # ตัวอย่างข้อมูลสำหรับ id_student
    'Personality': [None, None, None],  # หรือใส่ค่าเริ่มต้นเป็น 0
    'Expression': [None, None, None],
    'Speaking': [None, None, None],
    'charm': [None, None, None],
    'Personality2': [None, None, None],
    'Expression2': [None, None, None],
    'charm2': [None, None, None],
    'sum': [None, None, None]
}

# สร้าง DataFrame จากข้อมูล
df = pd.DataFrame(data)

# บันทึก DataFrame เป็นไฟล์ Excel
df.to_excel('round1.xlsx', index=False)

print("ไฟล์ Excel ถูกสร้างเรียบร้อยแล้ว")

ไฟล์ Excel ถูกสร้างเรียบร้อยแล้ว

In [2]:
uri = "round1.xlsx"
cols = ["id_student","Personality", "Expression", "Speaking", "charm"]
df = pd.read_excel(uri, usecols=cols)
df.dtypes

id_student       int64
Personality    float64
Expression     float64
Speaking       float64
charm          float64
dtype: object

In [3]:
#find row
id_student = 66113424
row_index = df[df['id_student'] == id_student].index.values[0]

print("Index of the row with id_student {}: {}".format(id_student, row_index))

Index of the row with id_student 66113424: 0

In [4]:
df.at[0,"Personality"] = 55
df

   id_student  Personality  Expression  Speaking  charm
0    66113424         55.0         NaN       NaN    NaN
1    66113322          NaN         NaN       NaN    NaN
2    66112233          NaN         NaN       NaN    NaN

In [5]:
#save to excel
df.to_excel('round1.xlsx', index=False)

In [29]:
import pandas as pd

uri = "round1.xlsx"
cols = ["id_student","Personality", "Expression", "Speaking", "charm"]
df = pd.read_excel(uri, usecols=cols)

while (True) :
    print("Enter id_student (enter 0 to stop):")
    student = int(input())
    
    if student == 0:
        print("จบโปรแกรม")
        break
    elif student not in df['id_student'].values:
        print("ไม่พบนักศึกษาคนนี้")
        continue
    else:   
        print("Enter Personality (25):")
        score_Personality = int(input())
        print("Enter Expression (10):")
        score_Expression = int(input())
        print("Enter Speaking (10):")
        score_Speaking = int(input())
        print("Enter charm (5):")
        score_charm = int(input())
        
        row_index = df[df['id_student'] == student].index.values[0]
        df.at[row_index, "Personality"] = score_Personality
        df.at[row_index, "Expression"] = score_Expression
        df.at[row_index, "Speaking"] = score_Speaking
        df.at[row_index, "charm"] = score_charm
        df.to_excel('round1.xlsx', index=False)
        print("ข้อมูลถูกบันทึกแล้ว")

Enter id_student (enter 0 to stop):
Enter Personality (25):
Enter Expression (10):
Enter Speaking (10):
Enter charm (5):
ข้อมูลถูกบันทึกแล้ว
Enter id_student (enter 0 to stop):
ไม่พบนักศึกษาคนนี้
Enter id_student (enter 0 to stop):
จบโปรแกรม

Sum score

In [15]:
import pandas as pd

uri = "round1.xlsx"
df = pd.read_excel(uri)
df

,id_student,Personality,Expression,Speaking,charm,Personality2,Expression2,charm2
0,66113424,25.0,10.0,10.0,5.0,25.0,15.0,10.0
1,66113322,1.0,2.0,3.0,4.0,NaN,NaN,NaN
2,66112233,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,123456789,99.0,99.0,99.0,99.0,NaN,NaN,NaN

In [16]:
df = df.fillna(0)

In [17]:
for idx, row in df.iterrows():
    df.at[idx, "Sum"] = df.at[idx, "Personality"] + df.at[idx, "Expression"] + df.at[idx, "Speaking"] + df.at[idx, "charm"] + df.at[idx, "Personality2"] + df.at[idx, "Expression2"] + df.at[idx, "charm2"]

In [18]:
df

,id_student,Personality,Expression,Speaking,charm,Personality2,Expression2,charm2,Sum
0,66113424,25.0,10.0,10.0,5.0,25.0,15.0,10.0,100.0
1,66113322,1.0,2.0,3.0,4.0,0.0,0.0,0.0,10.0
2,66112233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,123456789,99.0,99.0,99.0,99.0,0.0,0.0,0.0,396.0

In [ ]:
while (True) :
    print("Enter id_student (enter 0 to stop):")
    student = int(input())
    
    if student == 0:
        print("จบโปรแกรม")
        break
    elif student not in df['id_student'].values:
        print("ไม่พบนักศึกษาคนนี้")
        continue
    else:   
        print("Enter Personality (25):")
        score_Personality = int(input())
        print("Enter Expression (10):")
        score_Expression = int(input())
        print("Enter Speaking (10):")
        score_Speaking = int(input())
        print("Enter charm (5):")
        score_charm = int(input())
        
        row_index = df[df['id_student'] == student].index.values[0]
        df.at[row_index, "Personality"] = score_Personality
        df.at[row_index, "Expression"] = score_Expression
        df.at[row_index, "Speaking"] = score_Speaking
        df.at[row_index, "charm"] = score_charm
        df.to_excel('round1.xlsx', index=False)
        print("ข้อมูลถูกบันทึกแล้ว")